/* style.css */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    /* Cor de fundo para um visual melhor */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    background-color: #fff;
    /* Cor de fundo para destacar o conteúdo */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
    /* Largura fixa para melhor apresentação */
}

input[type="text"],
input[type="email"],
button {
    width: calc(100% - 20px);
    /* Para alinhar com o padding da .content */
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #007BFF;
    color: #fff;
}

a {
    color: #007BFF;
    text-decoration: none;
    margin: 0 5px;
}

a:hover {
    text-decoration: underline;
}